# WO WO WO, hold up.  don't you dare think about making a change to this file.  let 
# me guess, you have a cool editor or tool that writes files to your current 
# directory as you hack on an awesome feature for docker.  right?  
# that's what i thought, however, do you know how long this file would be if we added
# rules for every contributor's custom setup?  really fuckin long.  luckily git has this super 
# cool feature that allows you to setup global ignore rules for your entire system.  yup
# thats right, you no longer have to impose your rules on every project you want to 
# contribute to.  
#
# ref: https://help.github.com/articles/ignoring-files
.vagrant*
bin
docker/docker
.*.swp
a.out
*.orig
build_src
.flymake*
.idea
.DS_Store
docs/_build
docs/_static
docs/_templates
.gopath/
.dotcloud
*.test
bundles/
.hg/
.git/
vendor/pkg/
pyenv
Vagrantfile
docs/AWS_S3_BUCKET
docs/GIT_BRANCH
docs/VERSION
docs/GITCOMMIT
